<div class="subjob-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @subjob.photo %>);">
  <div class="banner-container">
    <h1 style="margin-bottom: 2vh"><%= @subjob.title %></h1>
  </div>
</div>
