<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/702158.jpg);">
  <div class="banner-container">
    <h1 style="margin-bottom: 5vh">Grow as a talent, <span>join</span> our community today</h1>
    <!-- <a class="button" href="#">Join now</a> -->
    <%= link_to "Join now", new_user_session_path, class: "button" %>
  </div>
</div>
