<div class="community">
  <div class="jobs-container">
    <h1>Our <span>community</span> of talents</h1>
  </div>
  <div class="talent-carousel d-flex justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" style="width: 60vw; height: 30vw; background-image: url('https://static1.squarespace.com/static/56f152a22fe131e76648aba3/t/5c82c92f652deaf4990e8b36/1533652276049/bb2.jpg?format=1000w'); background-size: cover; text-align: center; color: white; font-weight: bold">
          <h3 style="font-size: 3vw">Brian</h3>
          <h4 style="font-size: 2vw; font-weight: lighter;">GROWTH MARKETER - EXPERT</h4>
        </div>
        <div class="carousel-item" style="width: 60vw; height: 30vw; background-image: url('https://miro.medium.com/max/3150/1*JP5vCAyes55rl8JAjFuPMA@2x.jpeg'); background-size: cover; text-align: center; color: white; font-weight: bold">
          <h3 style="font-size: 3vw">Andrew</h3>
          <h4 style="font-size: 2vw; font-weight: lighter;">GROWTH MANAGER - EXPERT</h4>
        </div>
        <div class="carousel-item" style="width: 60vw; height: 30vw; background-image: url('https://cloudinary-a.akamaihd.net/hopwork/image/upload/h_360,w_360,c_thumb,g_face,z_0.4,q_90,dpr_2.0/af3rfgxlgpql5h62pxsj.webp'); background-size: cover; text-align: center; color: white; font-weight: bold">
          <h3 style="font-size: 3vw">Tom</h3>
          <h4 style="font-size: 2vw; font-weight: lighter;">GROWTH MARKETER - JUNIOR</h4>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

