<div class="credentials-banner">
  <div class="credential-container">
    <h3 style="margin: auto">Find inspiration through curated content from our community</h3>
    <div class="credentials">
        <div class="list-inline credentials-image"><img src="https://gatling.io/wp-content/uploads/2017/10/medium-logo.jpg" alt=""></div>
        <div class="list-inline credentials-image"><img src="https://lareclame-scanbook.s3.amazonaws.com/dropenclassroomslogo1548693792-realisation-fancybox.jpg?width=auto" alt=""></div>
        <div class="list-inline credentials-image"><img src="https://offers.hubspot.com/hs-fs/hub/53/file-290590239-png/HubSpotAcademy_low-res_for_light_backgrounds-gradient-1.png?t=1413294987370&width=4246&name=HubSpotAcademy_low-res_for_light_backgrounds-gradient-1.png" alt=""></div>
        <div class="list-inline credentials-image"><img src="https://bowerycap.com/wp-content/uploads/2017/03/CA.png" alt=""></div>
        <div class="list-inline credentials-image"><img src="https://www.udemy.com/staticx/udemy/images/v6/default-meta-image.png" alt=""></div>
    </div>
  </div>
</div>
