
  <div class="value-prop">
    <div class="value-container">
      <h1>Helping talents organizing all their inspiration</h1>
    </div>
    <div class="values">
      <div class="cards">
        <div class="card-category">
          <h1><span>1</span></h1>
          <p><strong>Gather your inspiration</strong><br>
            Talent101 provide you with a unique chrome extension that allows you to gather all your inspiration in one unique profile.
          </p>
        </div>

        <div class="card-category">
          <h1><span>2</span></h1>
          <p><strong>Keep learning and get better</strong><br>
            Based on your profile and interests, discover top of the edge resources currated by our community of talents.
          </p>
        </div>

        <div class="card-category">
          <h1><span>3</span></h1>
          <p><strong>Grow your network, joins us</strong><br>
            Build a strong network by connecting with people sharing your interests.
          </p>
        </div>
      </div>
    </div>
    <div class="value-button"><%= link_to "Join now", new_user_session_path, class: "button" %></div>


  </div>
