<div class="job-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @job.photo %>);">
  <div class="banner-container">
    <h1 style="margin-bottom: 2vh"><%= @job.title %></h1>
  </div>
</div>
