.button {
  color: white;
  background-color: red;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 2vw;
  text-decoration: none;

}



.subjob-button {
  color: black;
  background-color: white;
  padding: 5px 15px;
  border-radius: 22px;
  font-size: 1.5vw;
  font-weight: lighter;
  border: 1px solid black;
  text-decoration: none
}
