
.credentials-image img {
  width: 10vw;
}

.credentials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.credentials li {
  display: inline;
  margin: auto;
  flex-wrap: wrap;
}


.credential-container {
  margin: 3vw 15vw;
  text-align: center;
  padding: 0vw 0;
  h3 {
    font-size: 2.5vw;
  };
  opacity: 0.4
}
