.jobs-container {
  width: 70vw;
  padding: 2vw 10vw;
  h1 {
    font-size: 3vw
  }
}

.job-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  margin: 0 10vw;
  font-size: 2vw;
}

.card-job {
  background: black;
  color: white;
  text-align: center;
  padding: 2vh 0vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-decoration: none;
    color: white
  }
}


// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .job-cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .job-cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .job-cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .job-cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .job-cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }
